<div ng-hide="addToCart.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true"></a>

</div>
<div ng-show="addToCart.id">
    <div>
        <span ng-show="addToCart.quantityMax">
            <select name="addToCart.quantity" id="addToCart.quantity" ng-model="addToCart.q"
                    ng-options=" v for v in addToCart.qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="addToCart.NgCart.addItem(addToCart.id, addToCart.name, addToCart.price, addToCart.q, addToCart.data)"
           >Add to Cart</a>
    </div>
    <mark  ng-show="addToCart.inCart()">
        This item is in your cart. <a ng-click="addToCart.NgCart.removeItemById(addToCart.id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>