<div layout="column" layout-fill layout-margin layout-padding>

  <div layout="row" layout-fill layout-margin>
    <p class="md-body-2">Enter your email so we can send you a reset link</p>
  </div>

  <form name="resetForm" layout="column" layout-fill layout-padding layout-margin>
    <md-input-container>
      <label> Email </label>
      <input type="text" ng-model="password.credentials.email" placeholder="email" aria-label="email" required/>
    </md-input-container>
    <div layout="row">
      <button class="btn btn-primary" ng-click="password.reset()" aria-label="reset" ng-disabled="password.resetForm.$invalid()">Send Email
          </button>
    </div>
  </form>

  <md-toolbar ng-show="password.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
    <p class="md-body-1">{{ password.error }}</p>
  </md-toolbar>

  <md-divider></md-divider>
  <div layout="row" layout-align="center">
    <a class="md-button" href="/login">Sign in</a>
  </div>

</div>