<form>
  <div class="form-group">
    <label for="title">Product title</label>
    <input id="title" type="text" ng-model="productAdd.product.title" class="form-control" />
  </div>
  <div class="form-group">
    <label for="pageTitle">
      Product pageTitle:
    </label>
    <input id="pageTitle" type="text" ng-model="productAdd.product.pageTitle" class="form-control" />
  </div>
  <div class="form-group">
    <label for="description">
      Description:
    </label>
    <input id="description" type="text" ng-model="productAdd.product.description" class="form-control" />
  </div>
  <div class="form-group">
    <label for="type">
      Type:
    </label>
    <input id="type" type="text" ng-model="productAdd.product.type" class="form-control" />
  </div>
  <div class="form-group">
    <label for="vendor">
      Vendor:
    </label>
    <input id="vendor" type="text" ng-model="productAdd.product.vendor" class="form-control" />
  </div>
  <div class="form-group">
    <label for="price">
      Price:
    </label>
    <input id="price" type="text" ng-model="productAdd.product.price" class="form-control" />
  </div>
  <div class="form-group">
    <label for="isVisible">Product isVisible?</label>
    <input type="checkbox" id="isVisible" ng-model="productAdd.product.isVisible" />

  </div>
  <product-upload files="productAdd.product.images"></product-upload>
  <button ng-click="productAdd.submit()" class="btn btn-success">Add Product!</button>
</form>