<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <product-add ng-show="productsList.isLoggedIn"></product-add>
      <!--<product-add-button ng-show="productsList.isLoggedIn"></product-add-button>-->
      <div class="alert alert-warning" role="alert" ng-hide="productsList.isLoggedIn">
        <strong>Warning!</strong> Log in to create a product!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>List of products:</h2>
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="search" ng-model="productsList.searchText" placeholder="Search" />
        </div>
        <products-sort class="form-group" on-change="productsList.sortChanged(sort)" property="title" order="1"></products-sort>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="products">
        <li dir-paginate="product in productsList.products | itemsPerPage: productsList.perPage" total-items="productsList.productsCount">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="product-title">
                <a ui-sref="productDetails({ productId: product._id })">{{product.title}}</a>
              </h3>
              <p class="product-description">
                {{product.description}}
              </p>
              Price:
              <span>{{product.price}}</span>
            </div>
            <div ng-if="product.images">
              <div class="">
                <product-image images="product.images"></product-image>
              </div>
            </div>
            <div class="col-sm-4">
              <product-remove product="product" ng-show="productsList.isOwner(product)"></product-remove>
            </div>
            <add-to-cart id="{{product._id}}" name="{{product.title}}" price="{{product.price}}" quantity="1" quantity-max="5" data="product"></add-to-cart>
          </div>
        </li>
      </ul>
      
      <ng-cart-cart></ng-cart-cart>
      
      <dir-pagination-controls on-page-change="productsList.pageChanged(newPageNumber)"></dir-pagination-controls>

      <!--<products-map products="productsList.products"></products-map>-->

    </div>
  </div>
</div>