<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form>
        <fieldset class="form-group">
          <label for="title">Product title</label>
          <input id="title" type="text" ng-model="productDetails.product.title" ng-disabled="!productDetails.isLoggedIn" class="form-control"
          />
        </fieldset>

        <fieldset class="form-group">
          <label for="description">Description</label>
          <input id="description" type="text" ng-model="productDetails.product.description" ng-disabled="!productDetails.isLoggedIn"
            class="form-control" />
        </fieldset>
        <fieldset class="form-group">
          <label for="price">Price</label>
          <input id="price" type="text" ng-model="productDetails.product.price" ng-disabled="!productDetails.isLoggedIn" class="form-control"
          />
        </fieldset>


        <div class="form-group">
          <label for="isVisible">
            <input id="isVisible" type="checkbox" ng-model="productDetails.product.isVisible" ng-disabled="!productDetails.isLoggedIn"/>
            Visible Product?
          </label>
        </div>

        <button ng-click="productDetails.save()" type="submit" class="btn btn-primary">Save</button>
        <button ui-sref="products" class="btn">Back</button>
      </form>
    </div>
  </div>

</div>