<div ng-hide="addToCart.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true"></a>

</div>
<div ng-show="addToCart.id">
    <div>
        <span ng-show="addToCart.quantityMax">
            <select name="addToCart.quantity" id="addToCart.quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="addToCart.ngCart.addItem(id, name, price, q, data)"
           ></a>
    </div>
    <mark  ng-show="addToCart.inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>